{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">Dash Aquaponia</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/dash">Dashboards</a></li>
                <li><a href="/contato">Contato</a></li>
                <li class="nav-item"><a href="{% url 'DashAquaponia:logout' %}">Logout</a></li>
            </ul>

            <!-- <div class="btn-expandir">
                <button>perfil</button>
            </div> -->
        </nav>
    </header>


    <script src="{% static 'js/mobile_navbar.js' %}"></script>
</body>
</html>