{% load static %}

<!DOCTYPE html>
<html class="dashhtml" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    
</head>

<body class="dashbody">

    <header class="dashheader">
      <div class="dashinfo-header">
        <div class="dashlogo">
          <a href=""><h3>Dash Aquaponia</h3></a>
        </div>
      </div>
      <div class="dashinfo-header">
        <a href=""><h3>Dashboards</h3></a>
        <a href=""><h3>Perfil</h3></a>
        <!-- <img src="" alt=""> -->
      </div>
    </header>

    <section class="dashmain">
        <div class="sidebar">
          <h3 class="dashh3">Produção de Alface</h3>
          <a href="" class="dasha">Relatórios</a>
          <a href="" class="dasha">Imprimir</a>
          <a href="" class="dasha">Compartilhar</a>
          <br/>
          <hr>
        </div>
    
        <div class="dashcontent">
          <div class="dashtitulo-secao">
            <h2>Crescimento de Alface</h2>
            <br/>
            <hr>
          </div>
    
          <div class="dashbox-info">
            <div class="dashbox-info-single" style="background: var(--verdeesc);">
              <div class="dashinfo-text">
                <h3>Total Alface - Início</h3>
                <p>100 unidades</p>
              </div>
            </div>
      
            <div class="dashbox-info-single" style="background: var(--verdeesc);">
              <div class="dashinfo-text">
                <h3>Total Alface - Final</h3>
                <p>500 unidades</p>
              </div>
            </div>
      
            <div class="dashbox-info-single" style="background: var(--verdeesc);">
              <div class="dashinfo-text">
                <h3>Crescimento Total</h3>
                <p>400 unidades</p>
              </div>
            </div>
          </div>
    
          <div class="dashgraficos">
            {{ dash_line|safe }}
            {{ dash_bar|safe}}
          </div>
        </div>
    </section> 

</body>
</html>

