{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://kit.fontawesome.com/cf6fa412bd.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0edc8eb879.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
</head>

<body class="loginbody">
  <div class="logincontainer">
    <div class="buttonsForm">
      <div class="btnColor"></div>
      <button id="btnEntrar">Login</button>
      <button id="btnCadastrar">Cadastrar</button>
    </div>

    {% if errors %}
        {% for error in errors %}
            <div style="color: red; font-weight: bold">{{ error }}</div>
            <br />
        {% endfor %}
    {% endif %}

    <form class="formlogin" method="post" name="entrar" id="entrar"> 
        {% csrf_token %}
      <input type="text" placeholder="Email" id="email" name="email" required />
      <i class="fas fa-envelope iEmail"></i>
      <input type="password" placeholder="Senha" id="password" name="password" required />
      <i class="fas fa-lock iSenha"></i>
      <div class="divCheck">
        <input type="checkbox" />
        <span>Lembrar senha</span>
      </div>
      <div class="esqueceu_senha">
        <a href="" id="esqueceusenha">Esqueci minha senha</a>
      </div>
      <button class="loginbutton" type="submit"><input type="submit" id="entrar" name="entrar"></button>

      <!-- <button type="submit">Entrar</button> -->
    </form>

    <form class="formlogin" method="post" name="cadastrar" id="cadastrar"> 
        {% csrf_token %}

      <input type="text" placeholder="Primeiro nome" id="first_name" name="first_name" required />
      <input type="text" placeholder="Segundo nome" id="last_name" name="last_name" required />
      <input type="text" placeholder="Email" id="CadastroEmail" name="CadastroEmail" required />
      <i class="fas fa-envelope iEmailCadastrar"></i>
      <input type="password" placeholder="Senha" id="CadastroPassword" name="CadastroPassword" required />
      <i class="fas fa-lock iSenhaCadastrar"></i>
      <input type="password" placeholder="Confirmar senha" id="ConfirmCadastroPassword" name="ConfirmCadastroPassword" required />
      <i class="fas fa-lock iSenha2Cadastrar"></i>
      
      <div class="termos">
        <a href="" id="termos">Termos</a>
      </div>
      <div class="divCheck">
        <input type="checkbox" required />
        <span>Aceitar termos</span>
      </div>

      <button class="loginbutton" type="submit"><input type="submit" id="cadastrar" name="cadastrar"></button>
      <!-- <button type="submit">Cadastrar</button> -->
    </form>
  </div>

  <script src="{% static 'js/login.js' %}"></script>
</body>
</html>