<!DOCTYPE html>
<html>
<head>
  <title>Perfil do Usuário</title>
</head>
<body>
  <h1>Perfil do Usuário</h1>

    <form method="post" action="{% url 'DashAquaponia:perfil' %}">
        {% csrf_token %}
        <input type="text" name="first-name" id="first-name" value="{{ firstName }}">
        <input type="text" name="last-name" id="last-name" value="{{ lastName }}">
        <input type="email" name="email" id="email" value="{{ email }}">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
