{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Colheita</title>
</head>
<body>
    <form action={% url 'DashAquaponia:registro' %} method="POST">
        {% csrf_token %}
        <h1>Registro Colheita</h1>
        <div>
            <label for="qtdeAlimentoPeixe" >Quantidade de Alimento/Dia</label>
            <input type="text" id="qtdeAlimentoPeixe" name="qtdeAlimentoPeixe" required>
        </div>
        <div>
            <label for="limpezaAgua">Houve limpeza do tanque?</label>
            <select name="limpezaAgua" id="limpezaAgua">
                <option value="Sim">Sim</option>
                <option value="Não">Não</option>
            </select>
        </div>
        <div>
            <label for="statusTanque" >Status do Tanque</label>
            <input type="text" id="statusTanque" name="statusTanque" placeholder="Sem danos" required>
        </div>
        <div>
            <label for="valorAlface" >Valor de venda do alface</label>
            <input type="number" id="valorAlface" name="valorAlface" required>
        </div>
        <div>
            <label for="valorPeixe" >Valor de venda do peixe</label>
            <input type="number" id="valorPeixe" name="valorPeixe" required>
        </div>
        <div>
            <label for="checkVenda">Houve venda de peixes?</label>
            <input type="checkbox" name="checkVenda" id="checkVenda">
        <div>
            <label for="qtdeVendaPeixe">Quantidade de peixes vendidos</label>
            <input type="number" name="qtdeVendaPeixe" id="qtdeVendaPeixe">
        </div>
        </div>
        <div>
            <label for="dataInspecao" >Data de inspeção do tanque</label>
            <input type="date" id="dataInspecao" name="dataInspecao" required>
        </div>
        <div>
            <label for="qtdeAgua" >Quantidade de água no tanque</label>
            <input type="number" id="qtdeAgua" name="qtdeAgua" required>
        </div>

        <div>
            <label for="qtdeAlfaceColhida" >Quantidade de alface colhido</label>
            <input type="number" id="qtdeAlfaceColhida" name="qtdeAlfaceColhida" required>
        </div>
        <div>
            <label for="qtdeAlfacePlantada" >Quantidade de alface plantado</label>
            <input type="number" id="qtdeAlfacePlantada" name="qtdeAlfacePlantada" required>
        </div>
        <div>
            <label for="qtdePeixesTanque" >Quantidade de peixes no tanque</label>
            <input type="number" id="qtdePeixesTanque" name="qtdePeixesTanque" required>
        </div>

        <button type="submit" value="Cadastro" >Enviar</button>
    </form>

    <script src="{% static 'js/registro.js' %}"></script>

</body>
</html>
